.dialog {
  min-width: 300px;
  min-height: 300px;
  padding: 10px 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.dialog-inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dialog-header {
  max-width: 100%;
  border-bottom: 1px solid grey;
  padding: 8px 24px;
}

.dialog-header.bottom {
  order: 4;
}

.dialog-content {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.dialog-actions {
  height: 40px;
  align-content: center;
  justify-content: flex-end;
  padding: 0px 24px;
  display: flex;
}

.dialog-actions.top {
  order: -1;
}
